h1 {
  font-family: "greycliff-cf", sans-serif;
}

nav li a,
nav a {
  color: white !important;
  font-family: "greycliff-cf", sans-serif;
}

main {
  font-family: "greycliff-cf", sans-serif;
}

nav li a :active {
  text-decoration-line: underline;
}

.btn {
  background-color: #2B274D;
  border-color: #2B274D;
}

.btn-primary {
  background-color: #F7931D;
  border-color: #F7931D;
  color: black;
  max-width: 6rem;
}

.btn-primary:hover {
  background-color: #bf6211;
  border-color: #bf6211;
  color: black;
}

.btn-info {
  background-color: #F7931D;
  border-color: #F7931D;
  color: white;
  max-width: 10rem;
}

.btn-info:hover {
  background-color: #bf6211;
  border-color: #bf6211;
  color: white;
}

.btn-light {
  background-color: #F7931D;
  border-color: #F7931D;
  color: white;
  font-size: 1.1rem;
  width: 8rem;
  height: 2.5rem;
  max-width: 10rem;
}

.btn-light:hover {
  background-color: #bf6211;
  border-color: #bf6211;
  color: white;
}

.filter-button {
  font-size: .75rem;
}


.events .event-button {
  position: relative;
  bottom: 55%; 
}

.events .event-text {
  position: relative;
  bottom: 55%;
}

.event-text {
  color: white; 
}

.bookmark-event {
  color: white;
  position: relative;
  bottom: 73%;
  left: 35%;
}

.online {
  font-size: 1rem;
}

.badge {
  cursor: default;
}

.divider {
  position: relative;
  width: 100%;
  height: 2.5rem;
  background: #2B274D;
}

main h2 {
  font-family: "greycliff-cf", sans-serif;
}

#jumbotron {
  font-family: "greycliff-cf", sans-serif;
}

#plugg {
  color: #FC7B00;
}

.logged-in {
  color: rgba(0, 241, 0);
}

.footer-background {
  background: rgb(176, 145, 228);
  background: linear-gradient(90deg, rgba(176, 145, 228, 1) 0%, rgba(228, 118, 118, 1) 100%);
}

div .container a {
  color: white;
}

footer {
  font-family: "greycliff-cf", sans-serif;
}

.max-width {
  max-width: 300px;
}

.divider-container {
  position: relative;
}

.divider-container img {
  width: 100%;
  height: auto;
}

.divider-container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#bell-notification {
  font-size: 1.2rem;
  color: white;
}

.menu-item-text {
  font-size: 0.8rem;
}

#navbar {
  background-color: #2B274D !important;
}

/** Temp fix **/

#navbar-items {
  margin-left: -0.8rem;
}

#navbar-items .active {
  background-color: #F7931D !important;
  height: 4rem;
  width: 7.9rem;
  margin-bottom: 1rem;
}

#login-button :hover {
  background-color: bisque;
}

.masthead li a :hover {
  background-color: bisque;
}

#right-column {
  background-color: #1f0cc8;
}

.side-modules .list-group-item {
  font-size: 0.8rem;
}

.card-header {
  background-color: #2B274D;
  color: #ffff;
}

.banner {
  min-height: 7rem;
}

/*LOG IN CSS*/
.backround-login {
  height: 100vh;
  background-image: linear-gradient(to left top,#3D2EB2, #B92637, #FFC33B);
}

.logo-login {
  margin-top: 2rem;
  margin-left: 2rem;
}

.home-login {
  margin-top: 4rem ;
  margin-right: 4rem;
}

.modal-body .btn-primary{
  background-color: #ACA7E6;
  border-color: #ACA7E6;
  color: white;
  max-width: 20rem;
}
.modal-body .btn-primary:hover{
  transform: scale(1.03);
}

.modal-content{
  background-color: #2B274D;
  color: white; 
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 4rem;
}
.modal-content h1 {
 margin-bottom: 2rem;
}
.modal-body .btn-danger{
  background-color: #FC7B00;
  border-color: #FC7B00;
  color: black;
  max-width: 20rem;
}

.modal-body .btn-secondary{
  background-color: #F2EBEB;
  border-color: #F2EBEB;
  color: black;
  max-width: 20rem;
}

.dropdown-item{
  color: #ACA7E6;
  text-decoration: underline;
}

/*LOG IN CSS SLUTAR HÄR*/