h1 {
    font-family: "greycliff-cf", sans-serif;
}

nav li a, nav a {
    color: white !important;
    font-family: "greycliff-cf", sans-serif;
}

nav li a :active {
    text-decoration-line: underline;
}

.btn {
    background-color:#2B274D;
    border-color:#2B274D;
}

.divider {
    position: relative;
    width: 100%;
    height: 2.5rem;
    background: #2B274D;
  }

main h2 {
  font-family: "greycliff-cf", sans-serif;
  }

#jumbotron {
  font-family: "greycliff-cf", sans-serif;
}

#plugg {
    color:#FC7B00;
  }

.logged-in {
    color: rgba(0, 241, 0);
  }

.footer-background {
background-color:#706c8d;
}

div .container a{
  color:white;
}
