h1 {
  font-family: "greycliff-cf", sans-serif;
}

nav li a,
nav a {
  color: white !important;
  font-family: "greycliff-cf", sans-serif;
}

main {
  font-family: "greycliff-cf", sans-serif;
}

nav li a :active {
  text-decoration-line: underline;
}

.btn {
  background-color: #2B274D;
  border-color: #2B274D;
}

.btn-primary {
  background-color: #F7931D;
  border-color: #F7931D;
  color: black;
  max-width: 6rem;
}

.btn-primary:hover {
  background-color: #bf6211;
  border-color: #bf6211;
  color: black;
}

.online {
  font-size: 1rem;
}

.badge {
  cursor: default;
}

.divider {
  position: relative;
  width: 100%;
  height: 2.5rem;
  background: #2B274D;
}

main h2 {
  font-family: "greycliff-cf", sans-serif;
}

#jumbotron {
  font-family: "greycliff-cf", sans-serif;
}

#plugg {
  color: #FC7B00;
}

.logged-in {
  color: rgba(0, 241, 0);
}

.footer-background {
  background: rgb(176, 145, 228);
  background: linear-gradient(90deg, rgba(176, 145, 228, 1) 0%, rgba(228, 118, 118, 1) 100%);
}

div .container a {
  color: white;
}

footer {
  font-family: "greycliff-cf", sans-serif;
}

.max-width {
  max-width: 300px;
}

.divider-container {
  position: relative;
}

.divider-container img {
  width: 100%;
  height: auto;
}

.divider-container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#bell-notification {
  font-size: 1.2rem;
  color: white;
}

.menu-item-text {
  font-size: 0.8rem;
}

#navbar {
  background-color: #2B274D !important;
}

/** Temp fix **/

#navbar-items {
  margin-left: -0.8rem;
}

#navbar-icons {
  font-size: 1.7rem;
}

#navbar-items .active {
  background-color: #F7931D !important;
  height: 4rem;
  width: 7.9rem;
  margin-bottom: 1rem;
}

#login-button :hover {
  background-color: bisque;
}

.masthead li a :hover {
  background-color: bisque;
}